<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Most Popular Lottery Games</h5>
        <ul>
          <li><a class="white-text" href="#!">USPowerball</a></li>
          <li><a class="white-text" href="#!">US Mega Millions</a></li>
          <li><a class="white-text" href="#!">EuroMillions</a></li>
          <li><a class="white-text" href="#!">EuroJackpot</a></li>
        </ul>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">GlobalLotto Entertaiment</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Security & Trust
    </div>
  </div>
</footer>
