<nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <ul class="left hide-on-med-and-down">
        <li><a style="position: initial; padding: 0 20px;" href="#" class="brand-logo nav-link">Lotteriz</a></li>
        <li><a class="nav-link" href="#lotteris">Lotteris</a></li>
        <li><a class="nav-link" href="#results">Results & Info</a></li>
        <li><a class="nav-link" href="#support">Support</a></li>
        <li><a class="nav-link" href="#myaccount">My Account</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a style="color: #55C5FF;" class="right" href="#">Login</a></li>
        <li><a style="color: #55C5FF;" class="right" href="#">Sign Up</a></li>
      </ul>

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
