{%extend layouts/page as content%}
{%partial partials/banner%}
<div class="container-fluid">
  <div class="row">
    <div class="col l8 s12">
      <h1>How to buy a ticket?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque finibus arcu vel tincidunt porttitor. Proin porta neque non lacus maximus porta. Nulla venenatis elementum mi fermentum ultrices. Donec ut leo congue, fringilla orci in, condimentum diam. Sed rhoncus vel ligula in elementum. Duis lorem tellus, laoreet a magna ac, mattis consequat elit. Vestibulum finibus varius turpis ut venenatis. Phasellus condimentum egestas ipsum, accumsan gravida odio ultrices id. Mauris nec eleifend mi. Nulla lacinia tortor at eros accumsan, non placerat ipsum imperdiet.</p>

      <p>Phasellus tincidunt sit amet libero vitae interdum. Proin in nulla libero. Curabitur eu enim porta, suscipit risus eu, posuere turpis. Aliquam dignissim scelerisque mauris, quis tempor quam scelerisque nec. Aenean semper eleifend justo ac efficitur. Nunc vitae lectus consequat ante vulputate blandit a a justo. Donec malesuada massa porttitor porta tincidunt. Sed cursus posuere nisi. Vivamus non libero eros.</p>

      <p>Integer tincidunt magna sagittis ipsum lacinia, ut laoreet eros commodo. In vel elit enim. In luctus nulla id erat porta, eget cursus ipsum auctor. Nunc arcu augue, eleifend nec ultrices eu, tristique vitae est. Nulla facilisi. Etiam convallis diam id arcu luctus, pulvinar viverra neque ullamcorper. Suspendisse at posuere nisl.</p>
    </div>
    <div class="col l4 s12">
      {%partial partials/lottery-results%}
    </div>
  </div>
</div>
{%endextend%}
